.content {
	padding: 40px 0;
}

.content__title {
	margin: 35px 0;
}

.content__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.content__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
